/**
 * Case 1: merge property values with commas.
*/
.case-1-mixin() {
    box-shadow+: inset 0 0 10px #555;
}

.case-1-myclass {
    .case-1-mixin();
    box-shadow+: 0 0 20px black;
}

/**
 * Case 2: merge property values with spaces.
*/
.case-2-mixin() {
    transform+_: scale(2);
}

.case-2-myclass {
    .case-2-mixin();
    transform+_: rotate(15deg);
}
